[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
oauthlib = "*"
requests = "*"
requests-oauthlib = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
python-dotenv = "*"
flatten_json = "*"

[requires]
python_version = "3.7"
